<footer class="container-fluid bh-absolute-bottom">

    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-4"></div>
        <div class="col-sm-2 col-md-1 col-lg-1"><a id="artevelde" href="https://gaverkecollege.be" target="_blank">
            <img class="samenwerkinglogo" src="{{ 'images/footer/logofooter.svg' | relative_url }}">
        </a></div>
        <div class="col-sm-12 col-md-8 col-lg-5">
                            
            &#169; Vrije Basisschool Gaverke / College Waregem <br>
           
            
            <a href="mailto:gaverkecollege@ko-dewegwijzer.be">Contact</a>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-4"></div>
        <div class="col-sm-2 col-md-1 col-lg-1">
                <a id="artevelde" href="https://arteveldehogeschool.be" target="_blank">
                    <img class="samenwerkinglogo" src="{{ 'images/footer/logoartevelde.svg' | relative_url }}">
                </a>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-7">
            in samenwerking met Yne Van De Mergel en Arteveldehogeschool Gent
                <br> Academiejaar 2017-2018
                <br>
            </span>
        </div>
    </div>

</footer>

<button onclick="topFunction()" id="to-top">
    <i class="fas fa-angle-up"></i>
</button>