<footer class="container-fluid bh-absolute-bottom">
        <div class="row logos">
                <div class="col">
                        <a id="gaverkecollege" href="http://gaverkecollege.be" target="_blank"><img class="samenwerkinglogo" src="/images/logo.svg"></a>
                    <a  id="artevelde" href="http://arteveldehogeschool.be" target="_blank"><img class="samenwerkinglogo" src="/images/logoartevelde.svg"></a>
                   
                </div>
            </div>
    <div class="row">
        <div class="col">
            &#169; Vrije Basisschool Gaverke-College Waregem <br>
            in samenwerking met Yne Van De Mergel en Arteveldehogeschool Gent<br>
            Academiejaar 2017-2018<br>

           <a href="mailto:gaverkecollege@ko-dewegwijzer.be">Contact</a>
        </div></div>
        
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>